# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.ts
!package.json
!.prettierrc
!.eslintrc.cjs
!postcss.config.cjs
!README.md
!commitlint.config.cjs
!.stylelintrc.json
!.lintstagedrc
!tailwind.config.mjs