{
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@config$",
    "^@assets/(.*)$",
    "^@components/(.*)$",
    "^@content/(.*)$",
    "^@layouts/(.*)$",
    "^@pages/(.*)$",
    "^@data/(.*)$",
    "^@styles/(.*)$",
    "^@utils/(.*)$",
    "^@/(.*)$",
    "^.[./].*",
    ""
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
